.activo{
    color  :red;
    font-size: 10px;
    margin: 50px;
}


.size{
    font-size: 25px;
}
i.fas{
    cursor: pointer;
}

/* .contenedor-grid{
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
} */

.img-perro{
    height: 250px;
}